<div class="card">
    <form class="card__form" [formGroup]="akademikForm" (ngSubmit)="onSubmit()">
        <h1 class="card__form-title">Register your dormitory</h1>
        <div>
            <mat-form-field class="card__form-field" appearance="fill">
                <mat-label>Name</mat-label>
                <input type="text" formControlName="name" placeholder="Ex. Title" matInput required>
                <mat-error>
                    Name is required
                </mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="card__form-field" appearance="fill">
                <mat-label>Address</mat-label>
                <input type="text" formControlName="address" placeholder="Ex. Address" matInput required>
                <mat-error>
                    Address is required
                </mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="card__form-field" appearance="fill">
                <mat-label>District</mat-label>
                <input type="text" formControlName="district" placeholder="Ex. Address" matInput required>
                <mat-error>
                    District is required
                </mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="card__form-field" appearance="fill">
                <mat-label>Phone</mat-label>
                <input type="number" formControlName="phone" placeholder="Ex." matInput required>
                <mat-error>
                    Phone number is required. Minimum 5 digits.
                </mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="card__form-field" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email" formControlName="email" placeholder="Ex. email" matInput required>
                <mat-error>
                    Email is required
                </mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="card__form-field" appearance="fill">
                <mat-label>Url</mat-label>
                <input type="text" formControlName="url" placeholder="Ex." matInput >
            </mat-form-field>
        </div>

        <label class="card__form-select" for="sector">Sector:</label>
        <div>
        <mat-radio-group aria-label="Select an option" formControlName="sector">
            <mat-radio-button class="card__form-select-btn" color="primary" value="public"> Public </mat-radio-button>
            <mat-radio-button color="primary" value="private"> Private </mat-radio-button>
        </mat-radio-group>    
        </div>
        <div class="card__form-btn">
        <button class="card__form-btn-submit" type="submit" value="submit"  mat-raised-button color="primary" [disabled]="akademikForm.invalid"> Submit </button>
        </div>
    </form>
</div>